/* TYPOGRAPHY */
body {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

.textfield {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

/* LAYOUT */
body {
    margin: 0;
}

.container {
    display: flex;
    margin: 0;
    width: 100vw;
    height: calc(100vh - 85px);
    background-color: #fffff3;
    box-sizing: border-box;
}

.to-do-feed,
.doing-feed,
.done-feed {
    border-radius: 2em;
    display: flex;
    background-color: lightgray;
    margin: 15px auto;
    box-sizing: border-box;
    border: 2px solid black;
    width: 30%;
    flex-direction: column;
    overflow-y: hidden;
}

.to-do-card-container::-webkit-scrollbar,
.doing-card-container::-webkit-scrollbar,
.done-card-container::-webkit-scrollbar {
    width: 0.7em;
}

.to-do-card-container::-webkit-scrollbar-track,
.doing-card-container::-webkit-scrollbar-track,
.done-card-container::-webkit-scrollbar-track {
    background: hsl(120 50% 75% / 1);
    border-radius: 100vw;
    margin-bottom: 1.5em;
}

.to-do-card-container::-webkit-scrollbar-thumb,
.doing-card-container::-webkit-scrollbar-thumb,
.done-card-container::-webkit-scrollbar-thumb {
    background: hsl(120 100% 20% / 1);
    border: 0.2em solid hsl(120 50% 75% / 1);
    border-radius: 100vw;
}

.to-do-card-container,
.doing-card-container,
.done-card-container {
    margin-right: 0.5em;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

.to-do-header,
.doing-header,
.done-header {
    text-align: center;
    padding: 1em 2em;
    z-index: 1;
}

.to-do-header,
.doing-header,
.done-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    background-color: lightgray;
}

/* CARD DESIGN */

.card {
    border-radius: 1em;
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    padding: 1em;
    height: auto;
    box-sizing: border-box;
    margin: 0 0.5em 1em auto;
    position: relative;
}

.card p {
    padding: 0.5em;
    border: none;
    margin: none;
    overflow-wrap: break-word;
}

.textfield {
    justify-self: start;
    padding: 0.5em;
    margin: 0;
    line-height: 1.5em;
    box-sizing: border-box;
    overflow: hidden;
    resize: none;
    width: 90%;
    margin-bottom: 0.5em;
    border-radius: 0.3em;
    text-align-last: ce;
    border: none;
    cursor: default;
}

.date-created {
    margin-right: auto;
}

.card-footer {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0.3em;
}
.close-card-btn,
.push-card-btn,
.reverse-card-btn,
.card-collapse-btn,
.add-card-btn {
    width: 2em;
    height: 2em;
    border: none;
    padding: 2px;
    align-self: flex-end;
    background-color: rgb(0, 209, 216);
    border-radius: 0.25em;
}

.close-card-btn {
    position: absolute;
    background-color: transparent;
    top: 5px;
    right: 5px;
}

input {
    border: none;
}

.header {
    height:  85px;
    background-color: gray;
    text-align: center;
    box-sizing: border-box;  
}

#removeLocalStorage {
    font-weight: bold;
    font-size: 1.5rem;
    display: block;
    color: red;
}

.dragging {
    opacity: 0.5;
}

/* ANIMATIONS */

@keyframes cardSlideOutRight {
    from {left: 0%;}
    to {left: 110%;}
}

@keyframes cardSlideOutLeft {
    from {right: 0%;}
    to {right: 110%;}
}

@keyframes cardSlideInRight {
    from {left: 110%;}
    to {left: 0%;}
}

@keyframes cardSlideInLeft {
    from {right: 110%;}
    to {right: 0%;}
}


.slide-out-right {
    animation-name: cardSlideOutRight;
    animation-duration: 1s;
    position: relative;
}

.slide-out-left {
    animation-name: cardSlideOutLeft;
    animation-duration: 1s;
    position: relative;

}

.slide-in-right {
    animation-name: cardSlideInRight;
    animation-duration: 1s;
    position: relative;

}

.slide-in-left {
    animation-name: cardSlideInLeft;
    animation-duration: 1s;
    position: relative;

}



